{{> header}}
<!-- views/livros/index.hbs-->

<h1>Livros</h1>
<hr>
<a href="/livros/novo" class="btn btn-primary">Cadastrar</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th>ISBN</th>
    <th>Titulo</th>
    <th>Edição</th>
  </tr>
  </thead>
  <tbody>
  {{#each livros }}  
    
    <tr>
    <td>{{ isbn }}</td>
    <td>{{ titulo }}</td>
    <td>{{ edicao }}</td>
    </tr>
    {{/each}}

  </tbody>
         
</table>


{{> footer }}