{{> header }}

<!--  -->
<div class="container-box">
  <div class="row">
  <div class="col-md-8">
  <form action="/livros/novo" method="POST">
<div class="form-group">
  <label for="isbn">ISBN</label>
  <input type="text" class="form-control"name="isbn" placeholder="Digite o ISBN do Livro">
  </div>
  <div class="form-group">
  <label for = "titulo">Titulo</label>
    <input type="text" class="form-control" name="titulo" placeholder="Digite o Titulo do Livro ">    
  </div>
  
    <div class="form-group">
  <label for = "edicao">Edição</label>
    <input type="text" class="form-control" name="edicao">    
  </div>
  
  <div class="form-group">
<button class="btn btn-sucess">Cadastrar</button></div>
</form>
    
  </div>
  <div class="col-md-4">Restou aqui</div>
  </div>

</div>
{{> footer}}